*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
a,a:hover{
    text-decoration: none !important;
}
img{
    border: 0px;
}
h1,h2,h3,h4,h5,h6,ol,ul,p,address{
    margin-top: 0px;
    margin-bottom: 0px;
}
@font-face{
    font-family:Helvetica;
    src: url(../fonts/ProximaNovaBold.otf);
}
@font-face{
    font-family:proxima;
    src: url(../fonts/ProximaNovaAltLight.otf);
}
@font-face{
    font-family:proxinova_reg;
    src: url(../fonts/proxinova/ProximaNovaRegular.ttf);
}
@font-face{
    font-family:proxinova_semi;
    src: url(../fonts/proxinova/Proxima-Nova-Semibold-webfont.ttf);
}
@font-face{
    font-family:proxinova_thin;
    src: url(../fonts/proxinova/ProximaNovaThin-webfont.ttf);
}
body{
    font-family:proxima;
    background: #f0f0f0;
}
.right-sidebar-ar {
	margin-top: 15px;
}
/* menu area */
.menu-area-top {
    background: url(../images/header.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 185px;
    text-align: center;
    padding-top: 1%;
}
.logo-area img {
    width: 80%;
    height: auto;
}
.menu-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 
.menu-top ul li {
    display: inline-block;
    margin: 0 8px;
    line-height:42px;
}
.chart-inp1 img {
    width: 100%;
    height: auto;
}
.menu-top ul li a {
    font-size: 14pt;
    color: #fff;
    font-weight: normal;
    line-height:1.5 !important;
}
.chart-inp1 input {
    width: 100%;
    border: 1px solid #216821;
    padding: 5px 12px;
    margin-bottom: 8px;
    background: #216821;
    color: #fff;
    border-radius: 3px;
}
.f-a-right {
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 999;
    display:none;
}
.f-a-right i {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
.area-text-l h4 {
    font-size: 24px;
    font-family:Helvetica;
    color:#fff;
    text-transform: uppercase;
}
.area-text-l p {
    font-size: 18px;
    color:#42ca79;
}
.chart-inp1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.chart-inp1 li {
    display: inline-block;
    float: left;
    margin-bottom: 6%;
}
.ct-st{
    margin-top: 6px;
}
.chart-inp1 li a {
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
}
.ps-btn {
    border: 1px solid #ffe700;
    padding: 5px 15px;
    color: #000 !important;
    background: #ffe700;
}
.f-right {
    float: right !important;
    margin-left: 5px;
}
.second-top {
    background: #27643c;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 135px;
}
.btn.btn-custm.dropdown-toggle {
    background: none;
    color: #fff;
    font-size: 13pt;
    font-family: proxima !important;
}
.dropdown-menu {
    background: #2f8a4e;
    border-radius: 0px;
}
.dropdown-menu li {
    width: 90%;
    text-align:left;
}
/* search  */
.topnav .search-container {
    float: right;
}
.topnav input[type="text"] {
    padding: 10px 23px;
    font-size: 16px;
    border: none;
    background: #1d5936;
    color: #fff;
    /* line-height: 22px; */
}
.topnav .search-container .cst {
    float: right;
    padding: 13px 10px;
    margin-right: 16px;
    background: #1d5936;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #fff;
}
.topnav .search-container button:hover {
    background: #ccc;
}
.text-btn button {
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
}
#mySearch {
    position: absolute;
    right: 50px;
    top: 23px;
    z-index: 999;
    display:none;
}
.area-text-l {
    float: left;
    margin-top: 30px;
    text-align: left;
}
.topnav input[type="text"]::placeholder, .chart-inp1 input::placeholder {
    color: #76b376 ;
    opacity: 1;
}
.dropdown-menu {
    position: absolute;
    top: 80%;
    right: 0;
    text-align: center;
    left: auto;
}
.cs-list li {
    line-height: 0 !important;
    width: 100% !important;
    margin: 0 auto !important;
}
.dropdown-menu.cs-list li a {
    padding: 9px 20px !important;
}
.dropdown-menu.cs-list {
    border: 2px solid #fff !important;
}
/* -------------Header part ends------------- */
/* slider css */
.owl-dot {
    display: inline-block;
}
.owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #dddddd;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-dot.active span, .owl-dot:hover span {
    background: #ffff00;
}
.owl-dots {
    text-align: center;
    padding: 15px 0;
}
/* slider part ends */
/* -------------Task 1 is starts------------- */
.forum-body .profile{
    /* margin-top: 30px; */
}   
.forum-body .profile .part{
    background: #fff;
    padding-left: 30px;
}   
.forum-body .profile .person img{
    padding: 20px 0px;
}   
.forum-body .profile .person h3{
    font-size: 20px;
    color: #23683f;
    font-family: proxinova_semi;
    padding-bottom: 17px;
}
.forum-body .profile .person .fa.fa-circle {
	padding-left: 10px;
	color: #66a955;
}

.forum-body .profile .person .list li{
    padding: 5px 0px;
}

.forum-body .profile .person .list li a {
	font-family: proxinova_thin;
	color: #ababab;
	font-size: 14px;
}
.forum-body .profile .person i{
    padding-right: 10px;
    margin-bottom: 10px;
}
.forum-body .profile .mood {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.forum-body .profile .mood h4{
    font-size: 16px;
    font-family: proxinova_semi;
    color: #23683f;
    line-height: 40px;
} 
.forum-body .profile .mood i{
    line-height: 40px;
    color: #23683f;
    font-size: 20px;
}   
.forum-body .profile .table > tbody > tr > td {
	border-top: none;
	font-family: proxinova_thin;
	color: #ababab;
}
.forum-body .profile .friends {
	border-top: 1px solid #efefef;
}
.forum-body .profile .friends h4{
    font-size: 16px;
    font-family: proxinova_semi;
    color: #23683f;
    line-height: 40px;
} 
.forum-body .profile .friends i{
    line-height: 40px;
    color: #23683f;
    font-size: 20px;
}
/* -------------about start------------- */    
.forum-body .profile #about .top{
    background: #7abc7a;
}  
.forum-body .profile #about h4{
    padding: 15px 0px 13px 30px;
    font-family: proxinova_reg;
    color: #fff;
}
.forum-body .profile #about .table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 0px;
	background: #fff;
}
.forum-body .profile #about .table > tbody > tr > td {
	border-bottom: 1px solid #efefef;
	font-family: proxinova_thin;
	font-size: 16px;
	color: #8b8b8b;
	padding: 20px 30px 20px 30px;
}  
/* -------------Task 1 is ends------------- */
#partner .top{
    background: #7abc7a;
}  
#partner h4{
    padding: 15px 0px 13px 30px;
    font-family: proxinova_reg;
    color: #fff;
}
#partner .table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 0px;
	background: #fff;
}
#partner .table > tbody > tr > td {
	border-bottom: 1px solid #efefef;
	font-family: proxinova_thin;
	font-size: 16px;
	color: #8b8b8b;
	padding: 20px 30px 20px 30px;
}
#partner i{
    color: #23683f;
    font-size: 20px;
}
#partner {
	margin-top: 5%;
}
/* -------------partner is ends------------- */

/* psd task */

/* second psd task */
#forum h5 {
    font-size: 14px;
    font-family: proxima;
    padding: 10px 0px 13px;
    color: #626262;
}
#forum p {
	font-family: proxima;
	color: #626262;
	background: #e7e7e7;
	padding: 15px 0px 12px;
}
.member-heading h4 {
	font-size: 16px;
	color: #8b8b8b;
	padding: 20px 0;
}
.member-heading span {
	margin: 0 5px;
}
#login {
	width: 40%;
	margin: auto;
	background: #23683f;
	padding: 55px 55px;
	text-align: center;
	margin-top: 8%;
	margin-bottom: 8%;
}
#login form{
    padding: 20px 0px;
}
.attach-account input {
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 7px 15px;
  color: #8b8b8b;
}
#login button {
	width: 100%;
	border: none;
	margin-top: 10px;
	padding: 7px 0;
	background: #ffe701;
	color: #4d453a;
	font-size: 15px;
	border-radius: 5px;
	line-height: 25px;
	font-family: proxinova_thin;
}
#login h2 {
  color: #fff;
  margin-bottom: 25px;
}
/* tab pane css */
#bgwhite {
	background: #fff;
	padding: 3% 2% 1%;
}
.nav-pills > li > a {
	border-radius: 0 !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background-color: #ffe701 !important;
}

/* wd css */   
.forum-body .profile .part{
    background: #fff;
    padding-left: 30px;
}   
.forum-body .profile .person img{
    padding: 20px 0px;
}   
.forum-body .profile .person h3 {
	font-size: 17px;
	color: #23683f;
	font-family: proxinova_semi;
	padding-bottom: 17px;
}
.forum-body .profile .person .fa.fa-circle {
	padding-left: 10px;
	color: #66a955;
}

.forum-body .profile .person .list li{
    padding: 5px 0px;
}

.forum-body .profile .person .list li a {
	font-family: proxinova_thin;
	color: #ababab;
	font-size: 14px;
}
.forum-body .profile .person i{
    padding-right: 10px;
    margin-bottom: 10px;
}
.forum-body .profile .mood {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.forum-body .profile .mood h4{
    font-size: 16px;
    font-family: proxinova_semi;
    color: #23683f;
    line-height: 40px;
} 
.forum-body .profile .mood i{
    line-height: 40px;
    color: #23683f;
    font-size: 20px;
}   
.forum-body .profile .table > tbody > tr > td {
	border-top: none;
	font-family: proxinova_thin;
	color: #ababab;
}
.forum-body .profile .friends {
	border-top: 1px solid #efefef;
}
.forum-body .profile .friends h4{
    font-size: 16px;
    font-family: proxinova_semi;
    color: #23683f;
    line-height: 40px;
} 
.forum-body .profile .friends i{
    line-height: 40px;
    color: #23683f;
    font-size: 20px;
}
/* -------------about start------------- */    
#about .top{
    background: #7abc7a;
}  
#about h4{
    padding: 15px 0px 13px 30px;
    font-family: proxinova_reg;
    color: #fff;
}
#about .table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 0px;
	background: #fff;
}
#about .table > tbody > tr > td {
	border-bottom: 1px solid #efefef;
	font-family: proxinova_thin;
	font-size: 16px;
	color: #8b8b8b;
	padding: 20px 30px 20px 30px;
}
    
    
    
    
/* -------------Task 1 is ends------------- */



/* friend list */
.friend-list {
	text-align: center;
	padding: 5% 0 20%;
	color: #8b8b8b;
}


#menu3 {
	margin-top: 0%;
}
.tab-pane-area .nav.nav-pills.nav-justified {
	border-bottom: 2px solid #ffe701;
}
.tab-pane-area ul li a {
	background: #23683f;
	color: #fff;
}
.nav-justified > li {
	display: inline-block !important;
	width: 12% !important;
	margin-left: 0px;
}
.nav > li > a:hover {
	color: #000 !important;
}
/*widgets part start*/
#widgets {
	margin-top: 0%;
}
#widgets .top{
    background: #7abc7a;
    padding: 15px 20px;
    color: #fff;
}
#widgets .first{
    background: #f8f8f8;
    color: #8b8b8b;
    padding: 15px 30px;
}
#widgets .left p{
    padding: 21px 30px;
    color: #8b8b8b;
}
#widgets .example{
    padding: 21px 0px;
    color: #8b8b8b;
    font-family: proxinova_thin;
}
label {
	color: #8b8b8b;
}
#widgets .radio{
    padding-bottom: 30px;
}
#widgets .custom-radio{
    padding-top: 10px;
}
/*widgets part ends*/
#login_form2 .level .first{
    background: #f8f8f8;
    color: #8b8b8b;
    padding: 15px 30px;
    font-family: proxinova_semi;
    font-weight: 500;
    font-size: 16px;
}
#login_form2 .level p {
	font-family: proxinova_thin;
	font-size: 16px;
	color: #8b8b8b;
	padding: 10px 15px;
}
#login_form2 .level h6{
    font-family: proxinova_reg;
    font-size: 16px;
    color: #23683f;
    padding-top: 20px;
    padding-bottom: 5px;
}

#login_form2 .level .table td {
	font-family: proxinova_thin;
	font-size: 16px;
	color: #8b8b8b;
	padding: 5px 15px;
	border: none;
}
/*login_form2 part ends*/


/* cmt css */
.img-cmt-box {
	margin: 20px 0px;
}
.img-cmt-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
.img-cmt-box ul li {
  display: inline-block;
  margin-right: 4px;
}
.img-cmt-box ul li a {
  cursor: pointer;
  font-size: 15px;
  color: #0009;
}
.img-cmt-box img {
	width: auto;
	height: auto;
}
.img-cmt-box input {
    border: 1px solid #c2c2c2;
    width: 65%;
    padding-left: 5px;
    color: #000;
    font-size: 12px;
}
.img-cmt-box ul li a {
    background: none !important;
}
/* comment box css */
.titlebg {
	background: url(../images/footer_top.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.titless h3 {
	color: #fff;
	font-size: 18px;
	padding: 10px 17px;
}
.text-f-top h4 span {
	margin: 0 10px;
}
.right-sidebar-ar img {
	width: 100%;
	height: auto;
}
.cmg-img img {
	width: 100%;
	height: 17px;
	cursor: pointer;
	margin-top: 8px;
}
.btn-media {
	background: #9bd2cb;
	padding: 10px 25px;
	border-radius: 4px;
	margin-right: 10px;
}
#messagebox {
	width: 100%;
}

.button-post ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.button-post ul li {
  display: inline-block;
  background: #9bd2cb;
  padding: 7px 16px;
  margin-left: 15px;
  margin-top: 20px;
  border-radius: 7px;
}
.button-post ul li a {
  color: #fff;
}
.button-post {
  float: right;
}
.m-top-buttons{
	margin-top:25px;
}
.cmt-img {
	background: #fff;
	padding-bottom: 25px;
}

/* cmt-img */
.img-texts {
	width: 322px !important;
	height: auto !important;
}
.cmg-img.margin-zero img {
	margin: 0;
}
.img-textsrd {
	width: 564px !important;
	display: block;
	margin: 10px 0 !important;
}

.button-post-cmt ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.button-post-cmt li {
  display: inline-block;
  background: #003b25;
  padding: 1px 12px;
  border: 1px solid #003b25;
  margin-left: 5px;
  margin-top: 20px;
}
.button-post-cmt ul li a {
  color: #007e4f;
}
.area-brd{
	border:1px solid #000;
}
.button-post ul li a {
	background: none;
}

/* -------------Comments box css------------- */
.titlebg {
	background: url(../images/footer_top.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.titless h3 {
	color: #fff;
	font-size: 18px;
	padding: 10px 17px;
}
.text-f-top h4 span {
	margin: 0 10px;
}
.right-sidebar-ar img {
	width: 100%;
	height: auto;
}
.cmg-img img {
	width: 100%;
	height: 17px;
	cursor: pointer;
	margin-top: 8px;
}
.btn-media {
	background: #96cf81;
	padding: 10px 25px;
	border-radius: 4px;
	margin-right: 10px;
}
#messagebox {
	width: 100%;
    border: 2px solid #a9a9a9;
}

.button-post ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.button-post ul li {
  display: inline-block;
  background: #024b02;
  padding: 7px 16px;
  margin-left: 0px;
  margin-top: 20px;
  border-radius: 7px;
}
.button-post ul li a {
  color: #fff;
}
.button-post {
  float: right;
}
.m-top-buttons{
	margin-top:25px;
}
.cmt-img {
	background: #fff;
	padding-bottom: 25px;
}

/* cmt-img */
.img-texts {
	width: 322px !important;
	height: auto !important;
}
.cmg-img.margin-zero img {
	margin: 0;
}
.img-textsrd {
	width: 564px !important;
	display: block;
	margin: 10px 0 !important;
}

.button-post-cmt ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.button-post-cmt li {
  display: inline-block;
	background: #024b02;
	padding: 7px 16px;
	margin-left: 15px;
	margin-top: 20px;
	border-radius: 7px;
}
.button-post-cmt ul li a {
  color: #fff;
}
.area-brd{
	border:1px solid #000;
}
.text-brr h4 {
    color: #8b8b8b;
    font-size: 20px;
    padding: 14px 15px 0;
}
/* toggle slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}
.switch input {display:none;}
.slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider2::before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.slide-toogle input:checked + .slider2 {
    background-color: #2b8550;
}

.slide-toogle input:focus + .slider2 {
    box-shadow: 0 0 1px #488a77;
}

.slide-toogle input:checked + .slider2:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider2.round {
    border-radius: 34px;
}

.slider2.round:before {
    border-radius: 50%;
}
.slide-toogle {
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}
/* -------------footer start------------- */
footer {
    background: #2f6f2f;
    padding: 80px 0 25px;
    margin-top: 30px;
}
.imgr img {
    width: 20px;
    height: 20px;
}
.head-foot h4 {
    display: inline-block;
    color: #fff;
    font-size: 15pt;
}
.head-foot p {
    font-size: 16px;
    color: #639487;
    margin-top: 10px;
}
.links-f ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.links-f ul li {
    display: inline-block;
    margin-right: 20px;
}
.links-f ul li a {
    color: #fff;
    font-size: 15pt;
}
.third-block ul li {
    display: inline-block;
}
.third-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.third-block p {
    color: #fff;
    font-size: 13pt;
}
.btn.btn-primary.dropdown-toggle {
    border-radius: 50px;
    background: #509a50;
    border: 1px solid #9bd2cb;
}
.btn.btn-primary.dropdown-toggle {
    padding: 6px 35px !important;
    margin-left: 2px;
}
.btn.btn-primary.dropdown-toggle.custr:hover {
    background: none;
}
.sec-block {
    border-left: 1px solid #fff;
    padding-left: 50px;
    margin-left: 20px;
}
.images-lla h4 {
    color: #639487;
    font-size: 14pt;
    margin-bottom: 20px;
}
.images-lla img {
    width: 140px;
    height: auto;
	padding-bottom: 20px;
}
.footer2-bg {
    margin: 80px 0;
}
.copyrigt {
    background: url(../images/bgfot1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    text-align: center;
}
.copyrigt p {
    color: #fff;
    font-size: 13pt;
    margin-top: 15px;
}
/*footer part ends*/
#forum h5{
    font-size: 14px;
    font-family: proxima;
    padding: 10px 0px 13px;
    color: #626262;
}
#forum p img{
    padding-right: 18px;
    padding-left: 10px;
}
#forum p{
    font-family: proxima;
    color: #626262;
    background: #e7e7e7;
    padding: 15px 0px 12px;
}
#forum p span{
    color: #42ca79;
}
/*forum part ends*/
#forex{
    padding-top: 35px;
}
#forex h3{
    font-family: proxinova_semi;
    font-size: 24px;
    color: #434343;
    padding: 0px 0px 22px;
}
#forex h4{
    font-family: proxima;
    font-size: 14px;
    color: #626262;
    padding-bottom: 36px;
}
#forex a{
    background: #024b02;
    padding: 15px;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
}
#forex .field {
    height: 50px;
    width: 100%;
    background: #b8b1aa;
    border: 1px solid #b8b1aa;
}
#forex .sidebar{
    right: 15px;
    position: absolute;
    z-index: 1;
}
.slider{
    background: #fff;
    padding: 16px;
    min-height: 180px;
    border-radius: 5px;
}
.slider h4{
    font-family: proxinova_semi;
    font-size: 14px;
    padding-bottom: 7px;
    text-align: left;
}
.slider h5{
    padding-bottom: 10px;
    font-family: proxima;
    font-size: 14px;
    text-align: left;
}
.slider p{
    font-size: 12px;
    padding-bottom: 22px;
    text-align: left;
}
.slider h6{
    font-size: 12px;
    font-family: proxima;
    color: #626262;
    float: left;
}
.slider span{
    float: right;
    font-size: 12px;
    margin-top: -2px;
}
.slider i{
    position: absolute;
    right: 30px;
    color: #626262;
}
.item {
    height: 180px;
}
/*forex part ends*/
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover{
    background: #003800;
}
.btn.btn-primary.dropdown-toggle {
	border-radius: 50px;
	background: #024b02;
	border: 1px solid #024b02;
}
.dropdown-menu > li > a {
    padding: 11px 20px !important;
    text-align: center;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dropdown-menu li {
    width: 100%;
    text-align: left;
}
/*custom*/
.info-switch{
    background: #fff;
    padding: 5px 0;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
    font-size:40px;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
	font-size: 95px;
	position: absolute;
	left: -18px;
	right: auto;
	top: 3%;
	color: #aaaaaa;
	outline: none;
}
.owl-carousel .owl-nav button.owl-next {
	font-size: 95px;
	position: absolute;
	left: auto;
	right: -18px;
	top: 3%;
	color: #aaaaaa;
	outline: none;
}
.cmg-img.margin-zero img {
	margin: 0;
}
.img-texts {
	width: 322px !important;
	height: auto !important;
}